#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.bgImage1 {
  background-image: url("/src/assets/Portofolio/Graphic design/a78.jpg");
}
.bgImage2 {
  background-image: url("/src/assets/Portofolio/Graphic design/a61.jpg");
}
.bgImage3 {
  background-image: url("/src/assets/Portofolio/Graphic design/a73.jpg");
}
.bgImage4 {
  background-image: url("/src/assets/Portofolio/Graphic design/a4.jpg");
}
.bgImage5 {
  background-image: url("/src/assets/Portofolio/Graphic design/a47.jpg");
}
.bgImage6 {
  background-image: url("/src/assets/Portofolio/Graphic design/a52.jpg");
}
.bgImage7 {
  background-image: url("/src/assets/Portofolio/Graphic design/a84.jpg");
}
.bgImage8 {
  background-image: url("/src/assets/Portofolio/Graphic design/a42.jpg");
}
.bgImage9 {
  background-image: url("/src/assets/Portofolio/Graphic design/a16.jpg");
}
.bgImage10 {
  background-image: url("/src/assets/Portofolio/Graphic design/a59.jpg");
}
.bgImage11 {
  background-image: url("/src/assets/Portofolio/Graphic design/a29.jpg");
}
.bgImage12 {
  background-image: url("/src/assets/Portofolio/Graphic design/a49.jpg");
}
.bgImage13 {
  background-image: url("/src/assets/Portofolio/Graphic design/a45.jpg");
}
.bgImage14 {
  background-image: url("/src/assets/Portofolio/Graphic design/a86.jpg");
}
.bgImage15 {
  background-image: url("/src/assets/Portofolio/Graphic design/a32.jpg");
}
.bgImage16 {
  background-image: url("/src/assets/Portofolio/Graphic design/a6.jpg");
}
.bgImage17 {
  background-image: url("/src/assets/Portofolio/Graphic design/a22.jpg");
}
.bgImage18 {
  background-image: url("/src/assets/Portofolio/Graphic design/a.jpg");
}
.bgImage19 {
  background-image: url("/src/assets/Portofolio/Graphic design/a14.jpg");
}
.bgImage20 {
  background-image: url("/src/assets/Portofolio/Graphic design/a56.jpg");
}
.bgImage21 {
  background-image: url("/src/assets/Portofolio/Graphic design/a10.jpg");
}
.bgImage22 {
  background-image: url("/src/assets/Portofolio/Graphic design/a24.jpg");
}
.bgImage23 {
  background-image: url("/src/assets/Portofolio/Graphic design/a19.jpg");
}
.bgImage24 {
  background-image: url("/src/assets/Portofolio/Graphic design/a38.jpg");
}
.bgImage25 {
  background-image: url("/src/assets/Portofolio/Graphic design/a12.jpg");
}
.bgImage26 {
  background-image: url("/src/assets/Portofolio/Graphic design/a35.jpg");
}
.bgImage27 {
  background-image: url("/src/assets/Portofolio/Graphic design/a26.jpg");
}
.bgImage28 {
  background-image: url("/src/assets/Portofolio/Graphic design/a92.jpg");
}

.boxShadow{
  box-shadow: inset 0px 0px 0px 1px rgb(37, 95, 237);
}

.boxShadow1 {
  
  box-shadow: inset 0px 0px 0px 1px  rgba(134, 139, 169);
 
}

.publication {
  scrollbar-width: none !important;
  scroll-snap-type: x mandatory;
}

.publication::-webkit-scrollbar {
  display: none !important;
}

.publication div {
  scroll-snap-align: start;
}
