#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.bgImage1 {
  background-image: url("/src/assets/Portofolio/Graphic design/a78.jpg");
}
.bgImage2 {
  background-image: url("/src/assets/Portofolio/Graphic design/a61.jpg");
}
.bgImage3 {
  background-image: url("/src/assets/Portofolio/Graphic design/a73.jpg");
}
.bgImage4 {
  background-image: url("/src/assets/Portofolio/Graphic design/a4.jpg");
}
.bgImage5 {
  background-image: url("/src/assets/Portofolio/Graphic design/a47.jpg");
}
.bgImage6 {
  background-image: url("/src/assets/Portofolio/Graphic design/a52.jpg");
}
.bgImage7 {
  background-image: url("/src/assets/Portofolio/Graphic design/a84.jpg");
}
.bgImage8 {
  background-image: url("/src/assets/Portofolio/Graphic design/a42.jpg");
}
.bgImage9 {
  background-image: url("/src/assets/Portofolio/Graphic design/a16.jpg");
}
.bgImage10 {
  background-image: url("/src/assets/Portofolio/Graphic design/a59.jpg");
}
.bgImage11 {
  background-image: url("/src/assets/Portofolio/Graphic design/a29.jpg");
}
.bgImage12 {
  background-image: url("/src/assets/Portofolio/Graphic design/a49.jpg");
}
.bgImage13 {
  background-image: url("/src/assets/Portofolio/Graphic design/a45.jpg");
}
.bgImage14 {
  background-image: url("/src/assets/Portofolio/Graphic design/a86.jpg");
}
.bgImage15 {
  background-image: url("/src/assets/Portofolio/Graphic design/a32.jpg");
}